NIX_DIRENV_VERSION="$(cat .nix-direnv-version)"
NIX_DIRENV_CHECKSUM="$(cat .nix-direnv-checksum)"

if ! has nix_direnv_version || ! nix_direnv_version "$NIX_DIRENV_VERSION"; then
  source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/$NIX_DIRENV_VERSION/direnvrc" "$NIX_DIRENV_CHECKSUM"
fi

use nix

watch shell.nix
